@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,100..900&display=swap');

:root {
    --cor-primaria: #615EFC;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #D1D8C5;
    --cor-hover: #7E8EF1;

    --fonte-tiutlos: "Alegreya", serif;
    --fonte-textos: "Aleo", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

img {
    width: 30%;
}

.cabecalho {
    padding: 4% 0% 0% 18%;
}

.cabecalho__menu {
    display: flex;
    gap: 30px
}

.cabecalho__menu__link {
    font-family: var(--fonte-tiutlos);
    font-size: 1.56rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao {
    padding: 9% 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 685px;
    height: 475px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.apresentacao__conteudo__titulo {
    font-size: 3rem;
    font-family: var(--fonte-tiutlos);
}

.titulo__destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.37rem;
    font-family: var(--fonte-textos);
    
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-tiutlos);
    font-size: 1.87rem;
}

.links__botao {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: var(--fonte-textos);
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    width: 220px;
    height: 20px;
    border: solid var(--cor-terciaria);
    border-radius: 26px;
    padding: 15px;
}

.links__botao:hover {
    background-color: var(--cor-hover);
}

.foto__perfil {
    border-radius: 4%;
    width: 30%;
}

.imagens__botao {
    width: 23px;
}

.rodape {
    background-color: var(--cor-primaria);
    filter: brightness(80%);
    text-align: center;
    padding: 0.6%;
    font-family: var(--fonte-textos);
    font-weight: 600;
    color: var(--cor-secundaria);
}
